*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

:hover{
  cursor: pointer;
}

a{
  color: #eee;
  text-decoration: none;
}

#navigation{
  background-color: #111;
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4em;
}

.company{
  margin-top: 20px;
  margin-left: 20px;

}

#co_name {
  margin-left: 120px;
  font-size: 3em;
  margin-top: 0;
}


#navigation ul{
  list-style: none;
  margin-top: 10px;
  padding: 10px;
  z-index: 1;
}

#dropCat{
  color: green;
  font-size: 2em;
}

#categories{
  display: flex;
  flex-direction: column;
  background-color: green;
  font-size: 1.5em;
  display:none;
}
 
#categories a:hover{
  background-color: #eee;
  color: green;
}

/*MAIN CONTENT*/
.container{
  height: 80vh;
  width: 100vw;
  background-color: #333;
}

.search{
  margin-top: 30vh;
  margin-left: 30vw;
  height: 3em;
  width: 40%;
  border:solid #088812 3px;
  border-radius: 10px;
}


@media screen and (max-width: 786px){
  .search{
   height: 1em;
    width: 50vw;
    font-size: 2em;
    
  }
}